/* Specific styles for the Landing Page */

/* Banner Styles */
.banner {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 95%;
    margin-bottom: 10px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    max-width: 600px;
}

.banner-content h1 {
    font-size: 4.5em;
    margin-bottom: 0.1em;
    font-weight: 600;
    line-height: 1.1;
}

.banner-content p {
    font-size: 1.1em;
    margin-bottom: 1.2em;
    font-weight: 400;
    padding-bottom: 10px;
}

.cta-button {
    background-color: white;
    color: black;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background-color: #F400F4;
    color: white;
}